Тестовое задание выполнила Чепурова Алла

chepurova@bk.ru, Telegram - @Screemix

# Задание #1: Тест на скорочтение

#### Считывание и препроцессинг данных:

In [ ]:
############ Импорт необходимых библиотек ############
import pandas as pd
import numpy as np
import scipy
import scipy.stats as stats
import warnings
import statsmodels.stats.multitest as test
warnings.filterwarnings("ignore")

In [ ]:
############ Считывание двух таблиц в датафреймы ############
df1 = pd.read_excel('/content/speedreading_data.xlsx', 'Данные по обучению', index_col=0)
df2 = pd.read_excel('/content/speedreading_data.xlsx', 'Данные по сложности', index_col=0)

############ Предобработка данных в датафреймах ############
df1 = df1.iloc[1:, ]
df2 = df2.iloc[1:, ]
df1.rename(columns={name : i+1 for i, name in enumerate(df1.columns)}, inplace=True)
df2.rename(columns={name : i+11 for i, name in enumerate(df2.columns)}, inplace=True)

In [ ]:
############ Просмотр получившихся таблиц ############
df1

  1  2  3  4  5  6  7  8  9  10
A  4  2  4  4  2  3  1  1  3  2
B  5  4  5  3  2  4  2  1  2  2
C  5  3  3  2  1  5  4  1  3  3
D  5  4  4  2  4  5  4  2  3  2
E  5  5  4  3  3  5  3  2  1  1
F  5  3  4  1  1  4  5  2  3  2
G  5  2  4  3  3  3  3  0  4  3
H  5  4  4  3  2  4  2  2  3  3
I  5  2  2  2  2  4  3  3  4  3
J  5  3  2  4  2  3  4  4  3  2

#### **Вопрос 1:**
*В предположении Y1 = Y2, влияет ли обучение на качество восприятия информации?*

In [ ]:
############ Аггрегирование данных до и после обучения в соответствующие массивы ############
Y1 = []
for i in range(0,5):
  Y1 += list(df1.iloc[:, i])

Y2 = []
for i in range(5,10):
  Y2 += list(df1.iloc[:, i])

In [ ]:
############ Проверка данных на нормальность ############
print(stats.normaltest(Y1))
print(stats.normaltest(Y2))

NormaltestResult(statistic=10.406597731455648, pvalue=0.005498395999525369)
NormaltestResult(statistic=0.333846935349947, pvalue=0.8462643754391225)

P-values больше значительного уровня (0.05), мы можем убедиться, что наши выборки принадлежат нормальным распределениям. Следующий шаг - сравнение средних и постановка нулевой гипотезы -> avg(Y1) = avg(Y2).

In [ ]:
mean_y1 = scipy.mean(Y1)
mean_y2 = scipy.mean(Y2)
print(mean_y1, mean_y2)

3.32 2.82

Фактические средние показывают, что после обучения качество прохождения тестов у респондентов гипотетически ухудшилось.

In [ ]:
H0 = stats.ttest_ind(Y1, Y2)
print(H1)
# нулевая гипотеза отвергается

Ttest_indResult(statistic=3.512134447752516, pvalue=0.0007426060410754974)

Таким образом, Т-тест показал нам, что вероятность наблюдать такую большую фактическую разницу между выборками будет равна всего p = 0.043 < 0.05, что меньше значительного уровня. Значит, при предположении Y1=Y2 будет верным, что качество прохождения теста на Y2 ухудшится.

**Вопрос 2:**

В предположении Y3 < Y4, влияет ли сложность задания на качество восприятия информации?

In [ ]:
############ Аггрегирование данных категорий "легко" и "сложно""  в соответствующие массивы ############
Y3 = []
for i in range(0,5):
  Y3 += list(df2.iloc[:, i])

Y4 = []
for i in range(5,10):
  Y4 += list(df2.iloc[:, i])

In [ ]:
############ Проверка данных на нормальность ############
print(stats.normaltest(Y3))
print(stats.normaltest(Y4))

NormaltestResult(statistic=8.524610571180837, pvalue=0.014089783966465293)
NormaltestResult(statistic=1.9152715159441533, pvalue=0.38379920838893006)

Таким образом, мы можем убедиться, что наши выборки принадлежат нормальным распределениям. Следующий шаг - сравнение средних и постановка нулевой гипотезы -> avg(Y3) = avg(Y4).

In [ ]:
mean_y3 = scipy.mean(Y3)
mean_y4 = scipy.mean(Y4)
print(mean_y3, mean_y4)

4.35 3.625

Фактические средние показывают, что после обучения качество прохождения тестов у респондентов гипотетически ухудшилось на множестве заданий помеченных как "сложные". То есть, предположительно качество восприятия понижаается с повышением сложности. 

Для того, чтобы убедиться в этом, проверим нашу нулевую гипотезу avg(Y3) = avg(Y4) с помощью Т-теста Стьюдента:

In [ ]:
H1 = stats.ttest_ind(Y3, Y4)
print(H1)

Ttest_indResult(statistic=3.512134447752516, pvalue=0.0007426060410754974)

Таким образом, Т-тест показал нам, что вероятность наблюдать такую большую фактическую разницу между результатами выполнения задания в двух выбоках будет равна всего p = 0.0007 < 0.05, что меньше значительного уровня. Значит, при предположении Y3<Y4 будет верным утверждать, что сложность задач ухудшает качество восприятия.

**Задание 3**
*Как можно (и можно ли вообще) использовать результаты второй группы (I-P) для корректировки результатов первой группы (A-J)?*
*Y1=Y3, Y2=Y4, Y1<Y2*

Дополнительную выборку респондентов (I-P) можно использовать в тесте Бонферони для проверки возможности наличия ошибки первого рода в задании 1.

In [ ]:
rejected = test.multipletests([H0.pvalue, H1.pvalue], alpha=0.05)

In [ ]:
if rejected[0][0]:
  print("Null hypothesis 0 should be rejected")

Null hypothesis 0 should be rejected

То есть вывод из задания 1 должен быть верен.